body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar .container {
  margin-left: 0%;
}

.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 0.5rem;
}

.answers {
  border-top: 1px solid #eee;
}
 
.answers:hover {
  background-color: #eefbfe;
}
 
.radioButton {
    position: absolute;
    width: auto;
    opacity: 0;
}
 
.radioButton,
.radioLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
 
.radioLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}
 
.radioButton ~ .radioLabel:before {
    position: absolute;
    top: 24%;
    left: 1%;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}
 
.radioButton:checked ~ .radioLabel:before {
    content: '';
    background: #8BC53F url(./img/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

.rightAnswer {
  color: #3c763d;
  background-color: #dff0d8;
}

.wrongAnswer {
  color: #a94442;
  background-color: #f2dede;
}

.rightAnswer .radioLabel:before {
  content: '';
  background: #8BC53F url(./img/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #8BC53F;
}

.wrongAnswer .radioLabel:before {
  content: '';
  background: #ff504b no-repeat !important;
  background-size: 27px;
  border-color: #ff504b !important;
}

.marginTop2 {
  margin-top: 2%
}